* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    padding-top: 32px;
}
h1 {
    margin-bottom: 12px;
}
#form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-container {
    margin-bottom: 12px;
}
.input-title {
    display: block;
    margin-bottom: 8px;
}
input {
    background-color: rgb(228, 221, 221);
    border-radius: 5px;
    border: 1px solid rgb(214, 206, 206);
    padding: 10px 28px;
    outline: none;
}

button {
    color: white;
    background-color: black;
    text-align: center;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}