* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding-top: 32px;
  font-family: sans-serif;
  background-color: rgb(223, 236, 243);
}
h1 {
  margin-bottom: 12px;
}
#form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  background-color: white;
  padding: 32px 32px;
  border-radius: 10px;
}
.input-container {
  margin-bottom: 16px;
}
.input-title {
  display: block;
  margin-bottom: 8px;
}
input {
  border-radius: 8px;
  border: 1px solid rgb(214, 206, 206);
  padding: 10px 28px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
  outline: none;
}
input:focus {
    border: 1px solid rgb(79, 122, 240);
}
.invalid {
  border: 2px solid red;
}

.valid {
  border: 2px solid green;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 8px;
}

button {
  color: white;
  background-color: black;
  text-align: center;
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease;
  margin-top: 12px;
}

button:hover {
  opacity: 0.8;
}

/* responsiveness */
@media only screen and (min-width: 768px) {
  form {
    width: 450px;
    padding: 48px;
  }
  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}