* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    padding-top: 32px;
    font-family: sans-serif;
}
h1 {
    margin-bottom: 12px;
}
#form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-container {
    margin-bottom: 12px;
}
.input-title {
    display: block;
    margin-bottom: 8px;
}
input {
    background-color: rgb(228, 221, 221);
    border-radius: 8px;
    border: 1px solid rgb(214, 206, 206);
    padding: 10px 28px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
}
.invalid {
    border: 2px solid red;
}

.valid:focus {
    border: 2px solid green;
}

#email-error {
    color: red;
    font-size: 14px;
    margin-top: 8px;
}

button {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease;
}

button:hover {
    opacity: 0.8;
  }